* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.wrapper {
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.notes-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.note {
    background-color: lavender;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    &.new {
        background-color: turquoise;
    }
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
}

textarea {
    border: none;
    resize: none;
    padding: 3px;
    background-color: turquoise;
    white-space: pre-wrap;
    :focus {
        outline: solid 1px #000;
    }
}

.save {
    background-color: lightgray;
    border: 2px solid lightgrey;
    margin-top: 5px;
    border-radius: 15px;
    padding: 5px 10px;
    &:hover {
        cursor: hover;
        background-color: turquoise;
        border: 2px solid #fff;
    }
}
.delete-icon {
    cursor: pointer;
    &:hover {
        border-radius: 50%;
        background-color: lightGrey;
    }
}
.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 700px) {
    .note {
        width: 40%;
    }
}

@media screen and (min-width: 990px) {
    .note {
        width: 29%;
    }
}
